body {
    background-color: white;
background-image: url(/media/evian1_media/bg-tile-evian1-edit-trippy.gif);
    background-size: 10%;

    color: black;
    font-family: "Courier New", Courier, monospace;
/*cursor:url("/media/evian1_media/hand.cur"), auto;*/
    
}

a {
    color: darkred;
}

h1 {
    text-align: center;
}

.title-container {
    background: rgb(255 222 33/ 0.8);
    
    text-align: left;
    width: 30%;
    border-radius: 10px;
/*
    padding-top: 1px;
    padding-bottom: 1px;
*/
/*    padding-left: 1px;*/
}

h3 {
    font-size: 40px;
    color: white;
}

.hero-image {
    text-align: center;
}

.hero-image img {
    width: 60%;
}



/*track grid*/


.track-select-center-box {
    display: flex;
  justify-content: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.track-select-container {
/*    overflow: hidden;*/
    
/*    background-color: mediumpurple;*/
        background-color: rgb(85 0 255/ 0.9);

    width:60%;
    
      display: flex;
  justify-content: center;
  align-items: center;
/*  border: 5px solid black; */
    
    outline: 8px ridge rgb(170 50 220 / 0.6);
    border-radius: 2rem;
    
/*
        outline: 8px inset black;
border-radius: 2rem;
*/
}

.track-select-bg {

}

.track-select-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
/*    grid-gap: 10px;*/
/*    grid-template-rows: 2;*/
    text-align: center;
    padding-bottom: 5%;
}
.track-select-grid img{
    width: 80%;
        cursor:url("/media/evian1_media/hand.cur"), auto;

}
.track-item {
    text-align: center;
    perspective: 120px;	
    
}


@keyframes rotateAnimation {
    from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

@keyframes none {
    from {transform: rotateY(0deg);}
	to {transform: rotateY(0deg);}
}






.pixelated {
  image-rendering: pixelated;
}


.pause-play {
/*    display: flex;*/
    align-content: center;
    text-align: center;
    padding-bottom: 2%;
}


.pause-play button {
font-size: 20px;
    width: 10%;
    background-color: hotpink;
/*    color: white;*/
}

.pause-play button:active {
    background-color: purple;
/*    color: white;*/
}




/*hover animations*/
.track-item:hover {
    animation: glitch-1 2s infinite linear !important;
}
.pause-play button:hover {
    animation: glitch-1 2s infinite linear !important;
}
/*glitch text animation*/
@keyframes glitch-1 {
    0%,
    12%,
    15%,
    52%,
    55%,
    82%,
    85%,
    100% {
      opacity: 1;
      transform: scaleX(1) scaleY(1);
    }

    13% {
      opacity: .8;
      transform: scaleY(2);
      color: #;
    }

    53% {
      opacity: .8;
      transform: scaleX(.7);
      color: #;
    }

    83% {
      opacity: 8;
      transform: rotate(-10deg);
      color: #;
    }
  }
  @keyframes glitch-2 {
    13% {
      color: #;
    }

    53% {
      color: #;
    }

    83% {
      color: #;
    }
  }
    






/*mobile adjustments*/
@media (max-width:700px){
    body {
        font-size:4vw;
    }
    
    ul button {
        width: 8em;
/*        width: 100%;*/
    }
    
    .yt-embed-holder {
            width: 100%;
    }
    
    .hero-image img {
        width: 100%;
    }
    
.track-select-container {
    width: 80%;
    
    }
    
    .track-select-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .track-select-grid img{
    width: 100%;
    }
    
    .title-container {
            width: 100%;
    }
    
    
    
    
    
    .pause-play button {
/*font-size: 20px;*/
    width: 35%;
}

    
}