body {
    background-color: white;
/*background-image: url(/media/evian1_media/bg-tile-evian1-edit.png);*/
    background-size: 10%;

    color: black;
    font-family: "Courier New", Courier, monospace;
/*cursor:url("/media/evian1_media/hand.cur"), auto;*/
    
}

a {
    color: darkred;
}

h1 {
    text-align: center;
}


.hero-image {
    text-align: center;
    align-content: center;
}

/*
.menu-links {
    display: flex;
    text-align: justify;
}
*/


.hero-image img {
    width: 60%;
}


#grindcoreEvian {
    width: 50%;
  position: absolute;
  top: 20%;           /* Moves the top edge to the container's vertical center */
  left: 50%;          /* Moves the left edge to the container's horizontal center */
  transform: translate(-50%, -50%); /* Shifts image back by 50% of its own size */
}

#parappaEvian {
    width: 20%;
    animation: scaleLoop .5s ease-in-out infinite alternate;

    padding-top: 10%;

}
@keyframes scaleLoop {
  0% {
    transform: scaleY(); /* Original size */
  }
  100% {
    transform: scaleY(1.03); /* Grow by 20% */
  }
}

#copyright {
    width: 20%;
}




}
.track-item {
    text-align: center;
    perspective: 120px;	
    
}


@keyframes rotateAnimation {
    from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

@keyframes none {
    from {transform: rotateY(0deg);}
	to {transform: rotateY(0deg);}
}




/*hover translations*/
ul li a:hover {
/*  background-color: #111111;*/
    color: steelblue;
}
ul li a:hover span {
display: none;
}

.home-button:hover:before {
content: "ホーム"
}
.roster-button:hover:before {
content: "所属アーティスト"
}

.scrolling-text {
   bottom:0;
}


.pixelated {
  image-rendering: pixelated;
}





.webdeck-player {
    text-align: center;
/*    width: 50%;*/
}



     



/*menu hover rainbows*/
/*https://codepen.io/mochi-resources/pen/PoWZrJm*/
.animated-title {
/*
	-webkit-text-fill-color: #fff;
	-webkit-background-clip: text;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #FF0000;
	-webkit-animation: animatedBackground_c 2s infinite alternate;
*/
    
      background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000,#f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}
/*
@keyframes animatedBackground_c {
	0% {-webkit-text-stroke-color: #FFA53A}
	10% {-webkit-text-stroke-color: #FFE53A}
	20% {-webkit-text-stroke-color: #E8FF3A}
	30% {-webkit-text-stroke-color: #A5FF3A}
	40% {-webkit-text-stroke-color: #3AFF4E}
	50% {-webkit-text-stroke-color: #3AFFAE}
	60% {-webkit-text-stroke-color: #3AF3FF}
	70% {-webkit-text-stroke-color: #3AA2FF}
	80% {-webkit-text-stroke-color: #4B3AFF}
	90% {-webkit-text-stroke-color: #B43AFF}
	100% {-webkit-text-stroke-color: #FF3AEE}
}
*/

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}




.menu-links:hover {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #FF0000;
    position: relative;
    top: 0;
    animation: bounce 0.3s ease infinite alternate;
}
/*text bounce animations*/
@keyframes bounce {
    100% {
    top: -.50rem;
        }
}





/* container */
/*https://matthewjamestaylor.com/3-column-layouts#responsive-3-column-grid*/
.responsive-three-column-grid {
    display:block;
}
/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
}
/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


#sidekick-container {
    text-align: center;
}

#sidekick {
    width: 240px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}




/*retro player*/
      /*Media queries*/
      @media screen and (max-width: 1399px) {
        
        #volume {
  
          width: 80%;
  
        }
        
        #secondary_controls {
  
          justify-content: center;
          gap: 1em;
  
        }

      }

      @media screen and (min-width: 1400px) {
      
        #volume {

        width: 45%;

      }

      #secondary_controls {

        justify-content: space-between;

      }

      }

      :root {

        --colour_main: #fffdfd;
        --colour_second: #5f1da2;
        --colour_third: #da67e3;

      }

      #mp3_player, #mp3_player h1 {

        color: var(--colour_second);

      }
      
      #mp3_player {
        
        box-sizing: border-box;
        text-align: center;
/*        width: 100%;*/
              width: 153px;

/*        max-width: 450px;*/
        margin: 0 auto;
/*        padding: 1em 1em 2em 1em;*/
        font-family: "Source Code Pro", monospace;
        font-weight: 400;
        font-style: normal;
        background-color: black;
/*        border: 3px solid var(--colour_third);*/
/*  border: 5px inset black;*/

                  font-size: 12.3px !important;

              position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55.2%, -52%);
          z-index: 2;
      }

      #mp3_player > div:nth-child(2), #mp3_player > div:nth-child(3) {

        display: inline-block;

      }
      
      #playlist_select, #theme_select {

        background-color: var(--colour_second);
        border: 1px solid var(--colour_third);
        color: var(--colour_main);
        
      }

      #mp3_player h1, #mp3_player label, #playlist_select, #theme_select {

        font-family: "Pixelify Sans", sans-serif;
        margin-left: 0;
        text-shadow: none;
        -webkit-text-stroke: 0;
        text-align: left;

      }

      #wrapper {

/*          margin-top: 1em;*/
          display: flex;
          flex-flow: row wrap;
/*          gap: 1em;*/
          align-items: center;
          justify-content: space-evenly;

      }

      #mp3_player section:first-child {

        height: 9.7em;
/*        min-width: 100px;*/
/*        min-height: 100px;*/
        align-self: center;

      }

      #mp3_player section:nth-child(2) {
        
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
/*        gap: 0.1em;*/

      }

      #info {

        max-width: 21em;
/*        height: 5em;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      
      }

      #yt_video {

        width: 100%;
        height: 94%;

/*          height: 15em;*/
/*        border: var(--colour_second) 3px solid;*/
/*        box-shadow: var(--colour_third) 5px 3px;*/

      }

      .flex_rnw {

        display: flex;
        flex-flow: row nowrap;

      }
      

      #info span {

        display: block;
        text-align: center;

      }

      
      #listened {

        width: 100%;


      }

      #time_indic {

        justify-content: space-between;
          padding-left: 8px;
          padding-right: 8px;

      }


      /*track CSS - Mozilla*/

      #mp3_player input[type=range] {

        appearance: none;
        background: none;
        width: 90%;
        height: 5px;
        background-color: var(--colour_third);
        border-radius: 0;

      }

      /*thumb CSS - Chromium*/

      #mp3_player input[type=range]::-webkit-slider-thumb {

        appearance: none;
        width: 5px;
        height: 15px;
        margin-top: -6px;
        border: 1px var(--colour_main) solid;
        border-radius: 0;
        background-color: var(--colour_second);

      }

      
      /*thumb CSS - Edge*/

      #mp3_player input[type=range]::-ms-thumb {
        
        appearance: none;
        width: 4px;
        height: 15px;
        border: 1px var(--colour_main) solid;
        border-radius: 0;
        background-color: var(--colour_main);
        
      }

      /*thumb CSS - Mozilla*/

      #mp3_player input[type=range]::-moz-range-thumb {
        
        width: 5px;
        height: 15px;
        border: 1px var(--colour_main) solid;
        border-radius: 0;
        background: var(--colour_second);
        
      }

      /*track CSS - Chromium*/
      
      #mp3_player input[type=range]::-webkit-slider-runnable-track {

        width: 90%;
        height: 5px;
        background-color: var(--colour_third);
        border-radius: 0;

      }

      /*track CSS - Edge*/

      #mp3_player input[type=range]::-ms-track {

        width: 90%;
        height: 5px;
        background-color: var(--colour_third);
        border-radius: 0;

      }

      #mp3_player button {

        background: none;
        border: none;
        width: 38px;
        height: 38px;
        
      }
      
      #mp3_player h1 {
        
        margin: 0;
        font-size: 2em;
        
      }

      #volume {

      align-items: center;

      }

      #volume_bar {

        height: 0.5em;

      }

      #secondary_controls {

        display: flex;
        flex-flow: row wrap;

      }



















/*mobile adjustments*/
@media (max-width:700px){
    body {
        font-size:4vw;
    }
    
    #mp3_player {
        font-size: 17px !important;
    }
    
    
    .yt-embed-holder {
            width: 100%;
    }
    
    .hero-image img {
        width: 100%;
    }
    
    
    
    .hero-image img {
    width: 60%;
}


    #grindcoreEvian {
        width: 100%;
          top: 15%;
    }

    #parappaEvian {
        width: 45%;
        padding-top: 20%;
    }

    #copyright {
        width: 60%;
    }


    .animated-title {
        font-size: 5vw;
    }
    /*
    .menu-links {
        font-size: 3.5vw;   
    }*/
