body {
    background-color: beige;
    color: black;
    font-family: "Courier New", Courier, monospace;
/*    cursor: help;*/
cursor:url("/media/wii_cursor.cur"), auto;
}

a {
    color: lightblue;
}

.video-center-box {
    display: flex;
    justify-content: center;
/*    background-image: url("media/evian_logo.png");*/
}

.yt-embed-holder{
    display: flex;
/*    justify-content: center;*/
    width: 50%;
    overflow: hidden;
    aspect-ratio: 16/9;
/*    pointer-events: none;*/
    padding:1%;
    }

.yt-embed-holder iframe{
    width: 300%;
    height: 100%;
    overflow: hidden;
/*    margin-left: -100%;*/
}

.error-404 {
    justify-content: center;
    text-align: center;
}

.clairemisaki-logo {

}

.clairemisaki-logo img {
    width: 20%;
}

.studio-image {
    text-align: center;
}

.studio-image img {
    width: 30%;
}

/*nav bar*/
ul {
  list-style-type: none;
  margin: 0;
    padding: 0;
/*  background-color: grey;*/
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: black;
  padding: 1px 10px;
/*    border: 2px solid grey;*/
  text-decoration: none;
}

ul li a:hover {
/*  background-color: #111111;*/
    color: white;
}

ul li a.active {
  background-color: #04AA6D;
}


/*mobile adjustments*/
@media (max-width:700px){
    body {
        font-size:5vw;
    }
    
    .yt-embed-holder {
            width: 100%;
    }
    
}