body {
/*    background-color: beige;*/
    background:            linear-gradient(to bottom right, white, beige);
    background-attachment: fixed;

    color: black;
    font-family: "Courier New", Courier, monospace;
/*    cursor: help;*/
cursor:url("/media/wii_cursor.cur"), auto;
    
}

a {
    color: steelblue;
}

h1 {
    text-align: center;
}

.video-center-box {
    display: flex;
    justify-content: center;
/*    background-image: url("media/evian_logo.png");*/
}

.yt-embed-holder{
    display: flex;
/*    justify-content: center;*/
    width: 50%;
    overflow: hidden;
    aspect-ratio: 16/9;
/*    pointer-events: none;*/
    padding:1%;
    }

.yt-embed-holder iframe{
    width: 300%;
    height: 100%;
    overflow: hidden;
/*    margin-left: -100%;*/
}

.error-404 {
    justify-content: center;
    text-align: center;
}

.clairemisaki-logo {

}

.clairemisaki-logo img {
    width: 20%;
}

.studio-image {
    text-align: center;
}

.studio-image img {
    width: 30%;
}

.hero-image {
    text-align: center;
}

.hero-image img {
    width: 60%;
}

.roster-list {
    text-align: center;
    padding: 15px;
/*    font-size: 3vw;*/
    font-size: 20px;

}

.artist-logo {
    text-align: center;
}

.artist-logo img {
    width: 40%;
}

/*merch grid*/
.merch-item-grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    
/*    grid-gap: 10px;*/
/*    grid-template-rows: 2;*/
    text-align: center;
}
.merch-item-grid img{
    width: 60%;
}
.merch-item{
    text-align: center;
}

/*gallery grid*/
.gallery-item-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 2;
    text-align: center;
}
.gallery-item-grid img{
    width: 60%;
}
.gallery-item{
    text-align: center;
}


.live-info{
    text-align: center;
}

.contact-info {
    text-align: center;
}

.submission-info {
    text-align: center;
}

.merch-info {
    text-align: center;
}

/*nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
/*    width: 100%;*/
    height: 1.4rem;
    
}

ul button{
/*    background-color: lightgrey;*/
    background-image: linear-gradient(to bottom right, white, lightblue);
    font-family: "Courier New", Courier, monospace;    
    border-color: steelblue;
    border-radius: 2px;
    cursor:url("/media/wii_cursor.cur"), auto;
    width: 12em;
}

ul li a {
  display: block;
  color: black;
  padding: 1px 10px;
/*    border: 2px solid grey;*/
  text-decoration: none;
    cursor:url("/media/wii_cursor.cur"), auto;
    text-align: center;
}

/*
ul li a.active {
  background-color: #04AA6D;
}
*/

/*hover translations*/
ul li a:hover {
/*  background-color: #111111;*/
    color: steelblue;
}
ul li a:hover span {
display: none;
}

.home-button:hover:before {
content: "ホーム"
}
.roster-button:hover:before {
content: "所属アーティスト"
}
.merch-button:hover:before {
content: "グッズ"
}
.contact-button:hover:before {
content: "お問い合わせ"
}
.live-button:hover:before {
content: "ライブ情報"
}
.submission-button:hover:before {
content: "応募"
}
.gallery-button:hover:before {
content: "ギャラリー"
}
.about-button:hover:before {
content: "当社について"
}

.chat-room-button:hover:before {
    content: "チャットルーム"
}
.guest-book-button:hover:before {
    content: "ゲーストブック"
}

.scrolling-text {
   bottom:0;
}

/*
.scrolling-text img {
    width: 5%;
}
*/


/*chat room*/
.chat-room {
    text-align: center !important;
}
.chat-room iframe {
    width: 50% !important;
    height: 400px !important;
}


.guest-book {
    text-align: center;
}
.guest-book iframe {
    width: 50%;
    height: 400px;

}


/*mobile adjustments*/
@media (max-width:700px){
    body {
        font-size:4vw;
    }
    
    .clairemisaki-logo img {
        width: 40%;
    }
    
    ul button {
        width: 8em;
/*        width: 100%;*/
    }
    
    .yt-embed-holder {
            width: 100%;
    }
    
    .hero-image img {
        width: 100%;
    }
    
    .merch-item-grid {
        grid-template-columns: 1fr;
    }
    .gallery-item-grid {
        grid-template-columns: 1fr;
    }
    .gallery-item-grid img{
    width: 80%;
    }
    .merch-item-grid img{
    width: 80%;
    }
    
    .studio-image img {
        width: 60%;
}
    
    .artist-logo img {
    width: 80%;
}

    .chat-room iframe {
    width: 80% !important;
/*    height: 300px !important;*/
}
    
    .guest-book iframe {
    width: 80%;
}
     
    
}